<header class="navbar">
  <div class="navbar__inner">
    <a class="brand" routerLink="/">
      <span>TechMarket</span>
    </a>

    <nav class="nav">
      <a routerLink="/">Domov</a>
      <a routerLink="/" fragment="products">Izdelki</a>
      <a routerLink="/" fragment="about">O nas</a>
      <a routerLink="/" fragment="contact">Kontakt</a>
    </nav>

    <div class="actions">
      <a *ngIf="!auth.isLoggedIn()" routerLink="/login">
        <i class="fa-solid fa-right-to-bracket"></i>
        Prijava
      </a>

      <a *ngIf="!auth.isLoggedIn()" class="primary" routerLink="/register">
        <i class="fa-solid fa-user-plus"></i>
        Registracija
      </a>

      <a *ngIf="auth.isLoggedIn()" routerLink="/cart">
        <i class="fa-solid fa-cart-shopping"></i>
        Košarica
      </a>

      <button *ngIf="auth.isLoggedIn()" type="button" (click)="logout()">
        <i class="fa-solid fa-right-from-bracket"></i>
        Odjava
      </button>
    </div>

    <button class="burger" type="button" aria-label="Menu">
      <i class="fa-solid fa-bars"></i>
    </button>
  </div>
</header>
