<section class="product-page">
  <div class="wrap" *ngIf="product() as p; else notFound">
    <a class="back" routerLink="/">
      <i class="fa-solid fa-arrow-left"></i>
      Nazaj na ponudbo
    </a>

    <div class="panel">
      <div class="left">
        <div class="frame">
          <img [src]="p.src" [alt]="p.alt">
        </div>

        <div class="badges">
          <span class="badge"><i class="fa-solid fa-shield-halved"></i> Garancija</span>
          <span class="badge"><i class="fa-solid fa-truck-fast"></i> Dostava 1–3 dni</span>
          <span class="badge"><i class="fa-solid fa-circle-check"></i> Preverjeno</span>
        </div>
      </div>

      <div class="right">
        <h1>{{ p.name }}</h1>
        <div class="pricebox">
          <div class="price">{{ p.price }}</div>
          <div class="hint">DDV vključen • možnost vračila</div>
        </div>

        <div class="specs">
          <h3>Tehnične podrobnosti</h3>
          <ul>
            <li *ngFor="let s of p.specs">{{ s }}</li>
          </ul>
        </div>

                <div class="actions" *ngIf="product() as p">
          <button class="btn primary" type="button" (click)="add(p)">
            <i class="fa-solid fa-cart-shopping"></i>
            Dodaj v košarico
          </button>

          <button class="btn ghost" type="button">
            <i class="fa-regular fa-heart"></i>
            Shrani
          </button>

          <a class="btn link" routerLink="/cart">
            Košarica
            <i class="fa-solid fa-arrow-right"></i>
          </a>
        </div>

      </div>
    </div>

    <div class="more">
      <div class="more-head">
        <h2>Vsi izdelki</h2>
        <p>Scrollaj in izberi drug izdelek.</p>
      </div>

      <div class="rail">
        <a class="mini" *ngFor="let x of all" [routerLink]="['/product', x.slug]">
          <div class="mini-img">
            <img [src]="x.src" [alt]="x.alt">
          </div>
          <div class="mini-meta">
            <div class="mini-name">{{ x.name }}</div>
            <div class="mini-price">{{ x.price }}</div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <ng-template #notFound>
    <div class="wrap nf">
      <h1>Izdelek ne obstaja</h1>
      <a class="btn primary" routerLink="/">Nazaj domov</a>
    </div>
  </ng-template>
</section>
